{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{% static 'IMAGES/data_base_picture.png' %}" type="images/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/app.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/manage_account.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/data_base.css' %}">
</head>
<body>
<div class="app_page">
    <div class="app_border"></div>
    <div class="app_main">
        <img style="height: 40px;width: 170px;" class="app_img" src="{% static 'IMAGES/footer-logo.png' %}">
        <a class="app_connection" href="#"><img src="{% static 'ICONS/network.png' %}">
            <h2>Connections</h2></a>
        <div class="app_modification" id="app_modification">
            <a href="{% url 'herbaly-app' %}">Data Base Query</a>
            <a href="{% url 'herbaly-manage-account'%}">Manage Account</a>
            <a href="{% url 'herbaly-active-account'%}">Activite Account</a>
        </div>
        <a class="app_privacy" href="#"><img src="{% static 'ICONS/shield-with-lock.png' %}">
            <h2>Privacy</h2></a>
        <a class="app_notificat" href="#"><img src="{% static 'ICONS/notifications.png' %}">
            <h2>Notification</h2></a>
        <a class="app_settings" href="#"><img src="{% static 'ICONS/settinges.png' %}">
            <h2>Settings</h2></a>
    </div>
    <div class="app_use">
        <div class="app_header">
            <div class="app_title">
                <h3>Overview</h3>
            </div>
            <div class="app_object">
                <div class="app_notification">
                    <a href="#"><img src="{% static 'ICONS/notification.png' %}"></a>
                </div>
                <div class="app_account" onclick="menu()">
                    <img onclick="menutoogle();" class="app_profile" src="{% static 'ICONS/user.png' %}">
                    <div class="app_profile_menu" id="app_profile">
                        <div class="app_center">
                            <img class="app_picture" src="{% static 'ICONS/user.png' %}">
                            <div class="app_profile_name">{{user.first_name}} {{user.last_name}}</div>
                            <div class="app_profile_email">{{user.email}}</div>
                        </div>
                        <ul>
                            <z><a href="{% url 'herbaly-active-account' %}"><img src="{% static 'ICONS/edit.png' %}">Edit
                                Profile</a><br></z>
                            <z><a href="#"><img src="{% static 'ICONS/settings.png' %}">Settings</a><br></z>
                            <z><a href="{% url 'herbaly-log-out' %}"><img src="{% static 'ICONS/log-out.png' %}">Log Out</a><br>
                            </z>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block test %}
        {% endblock test %}
        <div class="app_footer">
            <div class="app_footer_vedio">
                <div class="app_vedio_title">
                    <h3>Full Documentation</h3>
                </div>
                <div class="app_vedio">
                    <img src="{% static 'Qr code/qr_code.png' %}">
                </div>
            </div>
            <div class="app_footer_text">
                <div class="app_text_title">
                    <h3>View All Documentation</h3>
                </div>
                <div class="app_text">
                    <h3>Not sure where to get started? Our docs contain resources to get your workspace up and
                        running.</h3>
                    <li>Getting started with Data Base</li>
                    <li>Learn more about Destinations</li>
                    <li>Learn with Hearbly University</li>
                </div>
            </div>
            <div class="app_footer_team">
                <div class="app_team_title">
                    <h3>Invite Team Member To help</h3>
                </div>
                <div class="app_team">
                    <h3>Peers in different functions make setup easier and Query more powerful.</h3>
                    <input type="submit" value="Invite Team Member">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'JS/script.js' %}"></script>
</body>
</html>