{% extends "base.html" %}
{% block content %}
{% load static %}
<title>Herbaly - {{title}}</title>
<div class="change_password_page">
    <div class="change_password_input">
        {% if message %}
        <h3 style="color: green;">{{message}}</h3>
        {% elif error %}
        <h3 style="color: red;">{{error}}</h3>
        {% endif %}
        <form action="{% url 'herbaly-change_password' %}" method="POST">
            {% csrf_token %}
            <div class="change_password_title">EMAIL HAS BEEN SEND</div>
            <p>Almost dear , just follow does instruction so you can finaly return your email</p><br>
            <input type="text" name="change_password" class="change_password_email" placeholder="The Code Number"
                   required><br> <input type="password" name="password_change" class="change_password_email"
                                        placeholder="Your New Password" required><br>
            <input type="password" name="conf_password_change" class="change_password_email"
                   placeholder="Confirme Your Password" required><br>
            <input type="submit" class="submit">
        </form>
    </div>
    <div class="change_password_img">
        <img src="{% static 'IMAGES/forget_password.png' %}">
    </div>
</div>
{% endblock content %}