{% extends "base.html" %}
{% block content %}
{% load static %}
<title>Herbaly - {{title}}</title>
<div class="forget_password_page">
    <div class="forget_password_img">
        <img src="{% static 'IMAGES/forget_password.png' %}">
    </div>
    <div class="forget_password_input">
        {% if message %}
        <p style="color: red;">{{message}}</p>
        {% endif %}
        <form action="{% url 'herbaly-forget-password' %}" method="POST">
            {% csrf_token %}
            <div class="forget_password_title">FORGET YOUR PASSWORD?</div>
            <p>Did you forget your password? Don't worry , Just write your email so we can help you with that</p><br>
            <input type="email" name="change_email" class="forget_password_email" required>
            <input type="submit" class="submit">
        </form>
    </div>
</div>
{% endblock content %}