*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border: 1px solid black;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #115f44;
    border: none;
}
.header_logo{
    border: 1px solid black;
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    border: none;
}
.header_content{
    border: 1px solid black;
    height: 80%;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
.header_content a{
    border: 1px solid black;
    width: 22%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s linear;
    border: none;
}
.header_content a:hover{
    background-color: #24c48c;
    transition: all 0.3s linear;
}
.mini_header{
    border: 1px solid black;
    height: 70px;
    background-color: #06af6e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.mini_header h2{
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
h1{
    color: yellow;
}
